/*__pycache__/
__pycache__/
*.pyc
*.config
notebooks/
.ipynb_checkpoints
.env
.venv
env/
venv/
.idea
*.json
data/web_analysis_files/*
*.gif
*.egg-info
build/
~
.vscode
# You can comment to connit the evaluation image as wwll
output.png

# benchmark entry point logs
benchmark.log
prompt_test.log
real_web_evaluation.log

# For Task Comparison images
results/*.png
# Stress Tests result
results/*.json

# logs directory
logs/*

# Stress test logs
stress_test.log

prompt_test_output/*

data/solutions_cache/*
data/tasks_cache/*
*.webm
