/*__pycache__/
__pycache__/  
*.pyc  
*.config
notebooks/
.ipynb_checkpoints
.env
.venv
env/
venv/
.idea
data/web_analysis_files/*
*.gif
*.egg-info
build/
~

# You can comment to connit the evaluation image as wwll
output.png
